/* My CSS playground to understand how it works */

body {
    background-color: #24273a;
    font-family: "Times New Roman", Verdana, sans-serif;
}

.page-header {
    text-align: center;
}

.page-header,
.heading {
    text-decoration: underline;
}

.heading,
.text,
.page-header,
a {
    color: #cad3f5;
}

.text,
a {
    font-size: 20px;
}